aclocal.m4
autom4te.cache/
config.guess
config.sub
depcomp
ltmain.sh
missing
Makefile
Makefile.in
configure
config.h
config.h.in
config.log
config.status
libtool
stamp-h1
install-sh
build/
cscope.out
config.h.in~
ylwrap
core
.*.swp
build-stamp
