Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.status
libtool
stamp-h1
build/
cscope.out
config.h.in~
